table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  table-layout: fixed;
  margin-bottom: 98px;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.tableContainer {
  height: 50vh;
  width: 80%;
  max-width: 1600px;
  max-height: 400px;
}
