.progressContainer {
  margin: 1% 25%;
  text-align: center;
}

.progressMessage {
  color: #000;
}

.progressBar {
  width: 100%;
  height: 26px;
  background: #ffa500;
  border-radius: 34px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: #ddd;
  transition: width 1s linear;
}
